.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #282439;
}
.login {
  margin-top: 12px;
  padding: 5px 15px;
  font-weight: 700;
  color: aliceblue;
  text-decoration: none;
  border-style: none;
  /* transition: all .3s ease-in; */
  border-color: transparent;
  background-color: transparent;
  font-size: 20px;
}
.login:hover {
  cursor: pointer;
  border-radius: 5px;
  color: #c636ff;
  font-size: 22px;
  transform: scale(1.1);
  transition: 0.5s;
}
.headlogo {
  width: 100px;
  padding-left: 30px;
  padding-top: 2px;
}
.navlink {
  justify-content: center;
  margin-right: 30px;
}
.navlink > ul {
  display: flex;
  /* margin: 20px ; */
}
.navlink > ul > li {
  list-style: none;
  padding: 20px 17px 5px 10px;
  font-size: 20px;
  color: #e2e2e2;
}
.navlink > ul > li:hover {
  cursor: pointer;
}
.search {
  display: flex;
  margin: 40px 20px 25px 10rem;
}
.searchbar {
  padding: 0px 8rem;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 20px;
}
.searchbtn {
  padding: 0px 30px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 8px;
  font-size: 18px;
  color: #f0f0f0;
  background-color: rgba(255, 255, 255, 0.1);
}
.body {
  width: 100%;
  height: auto;
  justify-content: center;
  align-content: center;
  position: relative;
}
.resfilter > button {
  padding: 8px 10px;
  position: relative;
  float: right;
  margin-right: 40px;
}
.resfilter {
  background-color: #282439;
}
.restcard {
  width: 250px;
  height: auto;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  margin: 20px 5px 20px 5px;
  color: white;
  display: flex;
  flex-direction: column;
}
.restcard:hover {
  transform: scale(1.1);
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 5px;
  border: 1px solid white;
  /* border-bottom: 2px solid white; */
  /* box-shadow: 0px 2px 2px 0px #d56efa; */
}
.carddisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: auto;
}
.cardimg {
  width: 100%;
  height: 170px;
  border-radius: 8px;
}
.Cardtitle {
  padding: 0px 0px 0px 8px;
  margin-bottom: 0px;
}
.cardheading {
  font-weight: 600;
  text-decoration: underline;
}
.cardsub {
  font-size: 15px;
}

/* shrimmer */
.shimcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: auto;
  margin-top: 4rem;
}
.shimmerBG {
  width: 250px;
  height: 350px;
  border-radius: 5px;
  padding: 5px;
  margin: 20px 5px 20px 5px;
  background-color: lightgray;
}
