.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: transparent;
}
.login {
  margin-top: 12px;
  padding: 5px 15px;
  font-weight: 400;
  color: #e2e2e2;
  text-decoration: none;
  border-style: none;
  background-color: transparent;
  font-size: 20px;
}
.login:hover {
  cursor: pointer;
  border-radius: 5px;
  /* color: #c636ff; */
  font-size: 21px;
  /* transform: scale(1.1);
  transition: 0.5s; */
  text-decoration: underline;
}
.headlogo {
  width: 100px;
  padding-left: 30px;
  padding-top: 2px;
}
.navlink {
  justify-content: center;
  margin-right: 30px;
}
.navlink > ul {
  display: flex;
}
.navlink > ul > li {
  list-style: none;
  padding: 20px 17px 5px 10px;
  font-size: 20px;
  color: #e2e2e2;
  font-weight: 400;
}
.navlink > ul > li:hover {
  cursor: pointer;
  text-shadow: 2px 2px 20px white;
}
.search {
  display: flex;
  margin: 40px 20px 25px 10rem;
}
.searchbar {
  padding: 0px 8rem;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 20px;
}
.searchbtn {
  padding: 0px 30px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  color: #f0f0f0;
  background-color: transparent;
  border-style: none;
}
.searchbtn:hover {
  text-shadow: 2px 2px 20px white;
}
.body {
  width: 100%;
  height: auto;
  justify-content: center;
  align-content: center;
  position: relative;
}
.resfilter > button {
  padding: 8px 10px;
  position: relative;
  float: right;
  margin-right: 40px;
  background-color: transparent;
  color: white;
  border-style: none;
  font-size: 20px;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.resfilter > button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  box-shadow: 1px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
}
.restcard {
  width: 250px;
  height: auto;
  border-radius: 15px;
  padding: 5px;
  cursor: pointer;
  margin: 20px 5px 20px 5px;
  color: white;
  display: flex;
  flex-direction: column;
}
.restcard:hover {
  transform: scale(1.1);
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 5px;
  box-shadow: 1px 1px 10px white;
}
.carddisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: auto;
}
.cardimg {
  width: 100%;
  height: 170px;
  border-radius: 15px;
}
.Cardtitle {
  padding: 0px 0px 0px 8px;
  margin-bottom: 0px;
}
.cardheading {
  font-weight: 500;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* text-decoration: underline; */
}
.cardsub {
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* shrimmer */
.shimcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: auto;
  margin-top: 4rem;
}
.shimmerBG {
  width: 250px;
  height: 350px;
  border-radius: 5px;
  padding: 5px;
  margin: 20px 5px 20px 5px;
  background-color: lightgray;
}
.shimbtn {
  padding: 17px 72px;
  position: relative;
  float: right;
  margin-right: 40px;
}
