.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: transparent;
}
.login {
  margin-top: 12px;
  padding: 5px 15px;
  font-weight: 400;
  color: #ffd576;
  text-decoration: none;
  border-style: none;
  background-color: transparent;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.login:hover {
  cursor: pointer;
  border-radius: 5px;
  font-size: 21px;
  text-shadow: 2px 2px 40px white;
}
.headlogo {
  width: 100px;
  padding-left: 30px;
  padding-top: 2px;
}
.navlink {
  justify-content: center;
  margin-right: 30px;
}
.navlink > ul {
  display: flex;
}
.navlink > ul > li {
  list-style: none;
  padding: 20px 17px 5px 10px;
  font-size: 20px;
  color: #ff213f;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navlink > ul > li:hover {
  cursor: pointer;
  text-shadow: 2px 2px 40px white;
}

.body {
  width: 100%;
  height: auto;
  justify-content: center;
  align-content: center;
  position: relative;
}

.filter {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-around;
}
.resfilter > button {
  padding: 8px 10px;
  margin-top: 30px;
  position: relative;
  float: right;
  background-color: transparent;
  color: white;
  border-style: none;
  font-size: 20px;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.resfilter > button:hover {
  text-shadow: 3px 3px 10px white;
  cursor: pointer;
}
.search {
  display: flex;
  margin: 40px 20px 25px 10rem;
}
.searchbar {
  padding: 12px 10rem;
  border-radius: 5px;
  font-size: 20px;
  border-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.searchbtn {
  margin-left: 30px;
  padding: 0px 30px;
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
  color: #f0f0f0;
  background-color: transparent;
  border-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.searchbtn:hover {
  text-shadow: 2px 2px 10px white;
}
.restcard {
  width: 250px;
  height: auto;
  border-radius: 15px;
  padding: 5px;
  cursor: pointer;
  margin: 20px 5px 20px 5px;
  color: white;
  display: flex;
  flex-direction: column;
}
.restcard:hover {
  transform: scale(1.1);
  transition: 0.5s;
  background-color: rgba(80, 227, 173, 0.1);
  box-shadow: 5px;
  box-shadow: 1px 1px 10px white;
}
.carddisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: auto;
}
.cardimg {
  width: 100%;
  height: 170px;
  border-radius: 15px;
  object-fit: fill;
}
.Cardtitle {
  padding: 0px 0px 0px 8px;
  margin-bottom: 0px;
}
.cardheading {
  font-weight: 500;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 0px;
  color: #ffd576;
}
.cardsub {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  font-size: 16px;
}
.cardsub > h4 {
  margin: 15px;
}

/* shrimmer */
.shimmermain {
  justify-content: center;
}
.shimcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: auto;
  margin-top: 4rem;
}
.shimmerBG {
  width: 250px;
  height: 350px;
  border-radius: 5px;
  padding: 5px;
  margin: 20px 5px 20px 5px;
  background-color: #f3f3f3;
  opacity: 0.1;
}
.shimbtn {
  padding: 17px 90px;
  position: relative;
  float: right;
  margin-right: 40px;
  background-color: #f3f3f3;
  opacity: 0.1;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 80px;
  padding: 8px;
  margin-left: 42rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(2turn);
  }
}
.Blank {
  color: white;
  text-align: center;
}
